*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/Ejerecicio_ternario2/nbproject/private/
/Ejerecicio_ternario2/build/
/Ejerecicio_ternario2/dist/
/EJERCICIO/nbproject/private/
/EJERCICIO/build/
/EJERCICIO_ACADEMIA/diaXhorario/nbproject/private/
/EJERCICIO_ACADEMIA/diaXhorario/build/
/EJERCICIO_ACADEMIA/EJercicio5/nbproject/private/
/EJERCICIO_ACADEMIA/EJercicio5/build/
/EJERCICIO_ACADEMIA/EJercicio5/dist/
/EJERCICIO_ACADEMIA/EJERCICIO_PAQUETES/nbproject/private/
/EJERCICIO_ACADEMIA/EJERCICIO_PAQUETES/build/
/EJERCICIO_ACADEMIA/EJERCICIO_PAQUETES/dist/
/EJERCICIO_ACADEMIA/bucles/nbproject/private/
/EJERCICIO_ACADEMIA/bucles/build/
/EJERCICIO_ACADEMIA/EjercicioWhile/nbproject/private/
/EJERCICIO_ACADEMIA/EjercicioWhile/build/
/EJERCICIO_ACADEMIA/EjercicioWhile/dist/
/EJERCICIO_ACADEMIA/bucleFor/nbproject/private/
/EJERCICIO_ACADEMIA/bucleFor/build/
/EJERCICIO_ACADEMIA/bucleINFINITO/nbproject/private/
/EJERCICIO_ACADEMIA/bucleINFINITO/build/
/EJERCICIO_ACADEMIA/REPETITIVA_del_UNO_35/nbproject/private/
/EJERCICIO_ACADEMIA/REPETITIVA_del_UNO_35/build/
/EJERCICIO_ACADEMIA/LIMITE_NUMERICO/nbproject/private/
