*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/Ejerecicio_ternario2/nbproject/private/
/Ejerecicio_ternario2/build/
/Ejerecicio_ternario2/dist/
