/practicaArra/nbproject/private/
/practicaArra/build/
/arrayBidimensional/nbproject/private/
/arrayBidimensional/build/
/login_basico/nbproject/private/
/login_basico/build/

/EJERCICIO_ACADEMIA/arrays/dist/
/EJERCICIO_ACADEMIA/matrices/nbproject/private/
/EJERCICIO_ACADEMIA/matrices/build/
/EJERCICIO_ACADEMIA/matrices/dist/
/EJERCICIO_ACADEMIA/desbordamiento'/nbproject/private/
/EJERCICIO_ACADEMIA/desbordamiento'/build/
/EJERCICIO_ACADEMIA/vectores2/nbproject/private/
/EJERCICIO_ACADEMIA/vectores2/build/
/EJERCICIO_ACADEMIA/vectores3/nbproject/private/
/EJERCICIO_ACADEMIA/vectores3/build/
/EJERCICIO_ACADEMIA/vectores4/nbproject/private/
/EJERCICIO_ACADEMIA/vectores4/build/

*.swp
*.class
*.log
nbproject/private/
build/
dist/
/EJERCICIO_ACADEMIA/Ejercicio_vectores/nbproject/private/
/EJERCICIO_ACADEMIA/Modelos_deCapas/nbproject/private/
